/* ===== CONFIGURAÇÃO GERAL ===== */
body {
    font-family:'Times New Roman', Times, serif;
    margin: 0;
    background-color: #f2f2f2;
    text-align: justify ;
}

/* ===== CONTAINER PRINCIPAL ===== */
.container {
    display: flex;
    width: 80%;
    margin: auto;
    background: white;
}

/* ===== COLUNA ESQUERDA ===== */
.left {
    width: 30%;
    background-color: #4f105cdf;
    color: white;
    padding: 20px;
}
h3{
    text-transform: uppercase;
    text-align: justify;
}
ur{
    text-align: justify;
    font-family: 'Times New Roman', Times, serif;
}

/* Foto do CV */
.foto {
    width: 70%;
    border-radius:  300px;
    border:#0e0101 2px;
    padding: 20px;
}

/* Títulos da esquerda */
.left h2 {
    border-bottom: 2px solid white;
    padding-bottom: 5px;
}

/* ===== COLUNA DIREITA ===== */
.right {
    width: 70%;
    padding: 20px;
}

.right h3 {
    border-bottom: 2px solid rgb(71, 83, 116);
    padding-bottom: 5px;
    font-family: 'Times New Roman', Times, serif;
    text-transform: uppercase;
    color:#16374d;
}
h1{
     color: #314042e6;
    text-align: center;
    font-family: 'Times New Roman', Times, serif; 
}
h2{
     color: #24727ae6;
    text-align: center;
    line-height: 0.00000;
    text-transform:capitalize;
    font-family: 'Times New Roman', Times, serif;
}
p{
    text-align: justify;
    font-family: 'Times New Roman', Times, serif ;
}
/* Nome */
.right h1 span {
    color: #0e4e57e6;
}
.right h2 span {
    color: #24727ae;
    line-height: 0.075;
}
.texto{
    line-height: 1.2px;
    font-family: 'Times New Roman', Times, serif
}

/* ===== TABELA ===== */
table {
    width: 100%;
    border-collapse: collapse;
}

/* Cabeçalho */
th {
    background-color: #f07943ee;
    color: black;
}

/* Células */
th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}

/* ===== LINKS ===== */
a {
    color: #08283f;
    font-weight: bold;
}

/* REFERÊNCIAS EM COLUNA */
.referencias h3 {
    border-bottom: 2px solid #0a3d62;
    padding-bottom: 5px;
    margin-bottom: 10px;
    color: #16374d;
}
p{
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
}
.colunas-referencias {
    display: flex;
    gap: 20px; /* espaço entre colunas */
}

.colunas-referencias .coluna {
    flex: 1; /* cada coluna ocupa metade do espaço */
    background-color:white#f5f5f5;
    padding: 10px;
    border-radius: 5px;
}




/* ===== LINKS 2 ===== */
a {
    color: #71b8e7;
    font-weight: bold;
}INHA =====* /
hr {
    border: 1px solid #0a3d62;
}

